<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 DataCanvas
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="DingoDBTest">
    <!-- name中的值表示命名，可随意命名 -->
    <test name="BVTTest">
        <!-- 使测试用例按照我们的分组执行 -->
        <groups>
            <run>
                <!-- name中的赋值需要填写的是我们在类中对test分组的名称 -->
                <include name="BVT"></include>
            </run>
        </groups>
        <!-- name中的值为需要测试的具体类名，格式：包名.类名 -->
        <classes>
            <class name="io.dingodb.test.TestBVT"></class>
        </classes>
    </test>
    <test name="v0.2.0 FuncTest">
<!--        <groups>-->
<!--            <run>-->
<!--                &lt;!&ndash; name中的赋值需要填写的是我们在类中对test分组的名称 &ndash;&gt;-->
<!--                <include name="preFuncs"></include>-->
<!--                <include name="funcs"></include>-->
<!--                <include name="postFuncs"></include>-->
<!--            </run>-->
<!--        </groups>-->
        <classes>
            <class name="io.dingodb.test.TestSQLFuncs"></class>
        </classes>
    </test>
    <test name="v0.3.0 StrFuncTest">
        <classes>
            <class name="io.dingodb.test.TestStrFuncs"></class>
        </classes>

    </test>
    <test name="v0.3.0 DateTimeTest">
        <classes>
            <class name="io.dingodb.test.TestDateTime"></class>
        </classes>

    </test>

</suite>
